<g-top-bar></g-top-bar>

<mat-sidenav-container class="applicationMainContainer">
	<mat-sidenav #sidenav mode="side" opened [fixedInViewport] [fixedTopGap]="" [fixedBottomGap]="">
		<g-left-bar></g-left-bar>
	</mat-sidenav>

	<mat-sidenav-content [@routeFadeAnimation]="prepareRoute(outlet)" [class]="loadingRouteConfig ? 'loading' : ''">
		<router-outlet #outlet="outlet"></router-outlet>
		<div class="mute">
			<div>
				<mat-progress-spinner mode="indeterminate" color="accent"></mat-progress-spinner>
			</div>
		</div>
	</mat-sidenav-content>
</mat-sidenav-container>
