<!DOCTYPE html>
<html lang="zh-cn">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge" />
		<title>:)</title>
		<link rel="stylesheet" href="<%- STATIC_URL %>/app/styles/global.css" />
		<link id="applicationStyleSheet" rel="stylesheet" />
		<script type="systemjs-importmap" id="AppConfig">
			<%- IMPORT_MAP_JSON %>
		</script>
		<script async defer crossorigin src="<%- APP_LOADER_JS %>"></script>
	</head>
	<body>
		<%- include('preloader.ejs') %>
		<div id="applicationRoot"></div>
	</body>
</html>
