<div style="text-align: center" class="content">
	<h1>Welcome!</h1>
	<span style="display: block">app is running!</span>
	<img
		width="400"
		alt="Angular Logo"
		src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjUwIiBoZWlnaHQ9IjI1MCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGc+PHRpdGxlPmJhY2tncm91bmQ8L3RpdGxlPjxyZWN0IGZpbGw9Im5vbmUiIGlkPSJjYW52YXNfYmFja2dyb3VuZCIgaGVpZ2h0PSI2MDIiIHdpZHRoPSI4MDIiIHk9Ii0xIiB4PSItMSIvPjwvZz4KPGc+PHRpdGxlPkxheWVyIDE8L3RpdGxlPgo8cGF0aCBpZD0ic3ZnXzEiIGQ9Im0xMjUsMzBsLTkzLjEsMzMuMmwxNC4yLDEyMy4xbDc4LjksNDMuN2w3OC45LC00My43bDE0LjIsLTEyMy4xbC05My4xLC0zMy4yeiIgZmlsbD0iIzAwODlkOCIvPgo8cGF0aCBpZD0ic3ZnXzIiIGQ9Im0xMjUsMzBsMCwyMi4ybDAsLTAuMWwwLDE3Ny45bDc4LjksLTQzLjdsMTQuMiwtMTIzLjFsLTkzLjEsLTMzLjJ6IiBmaWxsPSIjMDA3YWMxIi8+CjxwYXRoIGlkPSJzdmdfMyIgZD0ibTEyNSw1Mi4xbC01OC4yLDEzMC41bDIxLjcsMGwxMS43LC0yOS4ybDQ5LjQsMGwxMS43LDI5LjJsMjEuNywwbC01OCwtMTMwLjV6bTE3LDgzLjNsLTM0LDBsMTcsLTQwLjlsMTcsNDAuOXoiIGZpbGw9IiNGRkZGRkYiLz48L2c+Cjwvc3ZnPg=="
	/>
</div>
